#principal {
	position:absolute;
	top:0px;
	left:0px;
	width:768px;
	height:1024px;
	padding:0px; margin:0px; overflow:hidden;
}

#mini{
    position:absolute;
    top:0;
    left:0px;
    width:100%;
   /* height:100%; */
    background-color:#eee;
    padding:0px;
	overflow:scroll;
}

#navegacao{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:220px;
    background-color:#333;
    padding:0px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.icones > div{
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    text-align:center;
    font-weight:bold;
    width:80px;
    padding-top:35px;
    margin-left:-15px;
    color:#162132;
    
}

.icones > a > img{
    position:absolute;
    top:0px;
    left:0px;
}

.icones > a > img:last-child{
    	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
        z-index:9999;
}

.icones:hover > a > img:last-child{
       	filter:alpha(opacity=1);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

.icones:hover > div{
    color:#fff;
}


.p_direita{
	text-align:right;
	position:absolute;
	height:50px;
	width:33%;
	margin:0;
	right:0;
	top:0px;
}

.p_meio{
	text-align:center;
	position:absolute;
	height:50px;
	width:33%;
	margin-left:50%;
	left:-16.5%;
	top:0px;
}

.p_esquerda{
	text-align:left;
	position:absolute;
	height:50px;
	width:33%;
	margin:0;
	left:0;
	top:0px;	
}

.p_esquerda > .icones {
    position:relative;
    float:left;
    width:50px;
    height:50px;
}

.p_direita > .icones {
    position:relative;
    float:right;
    width:50px;
    height:50px;
}


#revista {
	position:absolute;
	width:768px;
	height:900px;
	overflow:hidden;
}

.folhas {
	position:absolute;
	top:0px;
	left:0px;
	background:#eee;
	display:none;
}

.pagStatus{
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	top:50%;
	left:50%;
	padding:10px;
	width:300px;
	background-color:#eee;
	color:#777;
	border:solid 1px #CCC;
	margin-left:-150px;
	margin-top:-10px;
	text-align:center;
	font-weight:bold;
}

.folhasMini{
    float:left;
    position:relative;
    width:100px;
    height:133px;
    background-color:#ccc;
    margin:10px;
}

.statusMini{
    font-size:8px;
    width:60px;
    padding:3px;
	margin-left:-33px;
}



#rodapeDentro > div >div{
    padding-right:40px;
}

#rodapeDentro > div{
    width:50%;
}

#rodapeDentro {
    bottom:-50px;
}

#cabecalhoDentro {
    top:-50px;
}

#rodape {
    bottom:0px;
}

#cabecalho {
    top:0px;
}

#protecao {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#000;
	filter:alpha(opacity=.3);
	-moz-opacity:.3;
	-khtml-opacity:.3;
	opacity:.3;
}

.abas {
    position:absolute;
    width:100%;
    height:50px;
    z-index:999999;    
}

.abas_especiais {
  background: #cbced1; /* Old browsers */
background: -moz-linear-gradient(top,  #cbced1 0%, #a8afb4 2%, #90979e 16%, #a8afb4 93%, #90979e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbced1), color-stop(2%,#a8afb4), color-stop(16%,#90979e), color-stop(93%,#a8afb4), color-stop(100%,#90979e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cbced1 0%,#a8afb4 2%,#90979e 16%,#a8afb4 93%,#90979e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cbced1 0%,#a8afb4 2%,#90979e 16%,#a8afb4 93%,#90979e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cbced1 0%,#a8afb4 2%,#90979e 16%,#a8afb4 93%,#90979e 100%); /* IE10+ */
background: linear-gradient(top,  #cbced1 0%,#a8afb4 2%,#90979e 16%,#a8afb4 93%,#90979e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbced1', endColorstr='#90979e',GradientType=0 ); /* IE6-9 */
 -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
}


.tipo_pagStatus{
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	top:50%;
	left:50%;
	padding:10px;
	width:300px;
	background-color:#eee;
	border:solid 1px #CCC;
	margin-left:-150px;
	margin-top:-10px;
	text-align:center;
	
}

.folha_mini{
position:absolute;
filter:alpha(opacity=0);
-moz-opacity:0;
-khtml-opacity:0;
opacity:0;
}